/* import soil from "../images/soil.jpg"; */

div.learn-more {
  width: 100%;
  height: 100%;
  background-image: url(../images/soil.jpg);
  background-size: cover;
}

div.learn-more-text {
  width: 70%;
  margin: auto;
  top: 150px;
  left: 150px;
  position: absolute;
  border: thin solid ghostwhite;
  border-radius: 0.25rem;
  background-color: #282c34;
  opacity: 0.8;
  z-index: 5;
}

p.learn-more {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  margin: 15px;
}

div.learn-more-photo {
  width: 100%;
}

/* #soil {
  width: 100%;
  height: 100%;
  z-index: -1;
} */
