.App-logo {
  height: 40vmin;
  pointer-events: all;
  margin-bottom: 20px;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
}

.enter {
  color: rgb(110, 180, 62);
  border-bottom: 1px solid rgb(110, 180, 62);
}

.enter:hover {
  cursor: pointer;
  opacity: 0.7;
}
